@charset "utf-8";

* { margin:0; padding:0; }
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
a img{ border-style:none;}

/* Font */



/* Style */
html{
	background: #26282c;
	font-family: Calibri, Arial, sans-serif;
	color: #e4e0e0;
}

header{
	width:960px;
	margin:0 auto;
	margin-bottom: 100px;
}

#content{
	width: 940px;
    margin: 0 auto;
    background-color: lightgray;
    color: #222222;
    padding: 10px 10px 50px 10px;
}

footer{
	width:960px;
	margin:0 auto;
	margin-top: 100px;
	text-align: center;
	color: gray;
}